body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.track-card {
    background: #181818;
    padding: 20px;
    border-radius: 12px;
    transition: background 0.3s ease;
    border: 1px solid #282828;
}

.track-card:hover {
    background: #282828;
    border-color: #1DB954; /* Фирменный зеленый цвет */
}

input {
    background-color: #242424;
    color: white;
    border: 1px solid transparent;
    padding: 12px 25px;
    border-radius: 500px; /* Овальное поле как в Spotify */
    width: 350px;
}

button {
    background-color: #1DB954;
    border-radius: 500px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* 10 карточек распределятся по рядам */
    gap: 20px;
    width: 100%;
    max-width: 1400px;
    margin-top: 30px;
}
